*{
box-sizing: border-box;   
}

ul {
  position: relative;
  overflow: hidden;
  list-style: none;
  width: 800px;
  margin: 30px auto;
  padding: 0;
}

ul:after {
  content:"";
  z-index: 1;
  position: absolute;
  left: 40%;
  top:0;
  width: 4px;
  margin-left: -2px;
  min-height: 100%;
  background-color: #eee;
}

li {
  z-index: 2;
  position: relative;
  width: 380px;
  padding: 20px;
  float: left;
  margin-bottom: 30px;
  background-color: #eee;
}

li.left {
  width:300px;
  float: left;
  clear: left;
}

li.right {
  width:500px;
  float: right;
  clear: right;
}

li.highlight {
  float: none;
  clear: both;
  width: auto;
  border: 5px solid #fff;
}

/* arrow */

li:before {
  content:"";
  z-index: 1;
  position: absolute;
  top: 14px;
  right: -6px;
  left: -6px;
  width: 12px;
  height: 14px;
  background-color: #eee;
  transform: rotate(45deg);
}

li.left:before {
  left: auto;
}

li.right + li.left:before,
li.left + li.right:before {
  top: 36px;
}

li.highlight:before {
  left: 50%;
  margin-left: -6px;
  right: auto;
  top: -6px;
}

/* dot */

li:after {
  content:"";
  z-index: 1;
  position: absolute;
  top: 14px;
  right: -26px;
  left: -26px;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
  background-color: #ccc;
  transition: .2s;
}

li:hover:after {
  background-color: #999;
  top: 12px;
  right: -29px;
  left: -29px;
  width: 12px;
  height: 12px;
}

li.left:after {
  left: auto;
}

li.right + li.left:after,
li.left + li.right:after {
  top: 36px;
}

li.right + li.left:hover:after,
li.left + li.right:hover:after {
  top: 34px;
}

li.right:after {
  right: auto;
}

li.highlight:after {
  left: 50%;
  margin-left: -7px;
  right: auto;
  top: -24px;
}

li.highlight:hover:after {
  margin-left: -9px;
  top: -26px;
}
