<!DOCTYPE html>
<html lang="en">
<head>
<title>註冊</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/mytrip/css/register.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="旅行,記錄,mytrip,trip,去旅行吧">
<link rel="shortcut icon" href="/media/webicon/new5.ico">
    <title>Mytrip-註冊</title>
<!-- 掛載CSS樣式 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/mytrip/css/new.css">
    <!-- 掛載JS樣式 -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--img src =http://i.huffpost.com/gen/1450843/thumbs/o-TRAVEL-FOR-FREE-facebook.jpg-->
<div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-2">
          <div class="menuside">
            <div class="logo"><a href="/mytrip/"><img src="/media/webicon/new5.png" class="img-rounded" id="imm" /></a>
              <a href="#"><h3>Shared</h3></a>
            </div>
            <div class="menubar">
              <ul>
                <li><a href="/mytrip/intro/"><span class="glyphicon glyphicon-info-sign"></span>簡介Intro.</a></li>
                <li><a href=""><span class="glyphicon glyphicon-th"></span>探索Explore</a></li>
              </ul>
              <ul>
                <li><a href="/mytrip/login/">登入Log in</a></li>
                <li><a href="/mytrip/register/">註冊Sign up</a></li>
              </ul>
              <ul id="app">
                <li><a href="#"><img src="/media/webicon/google_play.png" width="150px" height="60px"></a></li>
                <li><a href="#"><img src="/media/webicon/ios1.png" width="150px" height="75px"></a></li>
              </ul>
	    </div> 
            <div class="moreab">
              <p>
              ©2014 <a href="#">Daven/Koi</a> Project</p>
              <p>With Google Plays API</p><p>/Boostrap/Glyphicons</p> 
            </div> 
          </div>
        </div>
        <div class="col-xs-8 col-md-10">
        <!-- Body content-->
          <div class="formsq">
	<form name="login-form" class="login-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="header">
			<h1>來註冊吧!</h1>
			<span>填寫資本資料</span>
		</div>
		<div class="content">
			<input id="id_user_id" name="user_id" type="text" placeholder="ID帳號"/>
			<h5>帳號<h5>
			<input id="id_password" name="password" type="password" placeholder="PW密碼"/>
			<h5>密碼</h5>
			<input id="id_email" name="email" type="email" placeholder="xxx@mail" />
			<h5>信箱</h5>
                  	<input id="id_name" name="name" type="text" placeholder="name"/>
                  	<h5>我的名</h5>
                </div>
                <div class="footer"><!--FOOTER-->
                  <!--LOGIN BUTTON--><a href="#" onclick=rel()><input class="button" type="submit" value="註冊"></a>
                  <a href="/mytrip/" class="register">回首頁</a>
                </div>
              </form>
	  </div>
        </div>
      </div>
    </div>
</body>
</html>
