<!DOCTYPE html>
<html>
<head>
<title>Search</title>
</head>
<body>
<h1>Search</h1>
<form action="." method="POST" encype="multipart/form-data">{% csrf_token %}
<label for="user">Search: </label>
<input type="text" name="q" value="{{ query|escape }}">
<input type="submit" value="Search">
</form>
{% for tlocate in tlocate %}
<ul>
        <li>地點 : {{ tlocate.lid.local_name }}
        {% ifnotequal tlocate.photo "/No" %}
        <li><img src = " /media/{{ tlocate.photo }} " />
        {% endifnotequal %}
        <li>描述：　{{ tlocate.description }}
</ul>
{% endfor %}
</body>
</html>

