<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="旅行,記錄,mytrip,trip,去旅行吧">
        <link rel="shortcut icon" href="/media/webicon/new5.ico">
    <title>Mytrip-我的旅行</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/mytrip/css/new.css">
    <link rel="stylesheet" type="text/css" href="/static/mytrip/css/component.css">
    <!-- 掛載JS樣式 -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-md-2">
          <div class="menuside">
            <div class="logo"><a href="/mytrip/"><img src="/media/webicon/new5.png" class="img-rounded" id="imm" /></a>
              <h3>{{ username }}</h3>
            </div>
            <div class="menubar">
              <ul>
                <li><a href="/mytrip/home/"><span class="glyphicon glyphicon-th-list"></span>旅行
 My Lists</a></li>
                <li><a href="/mytrip/collect"><span class="glyphicon glyphicon-star"></span>收藏 My Collect</a></li>
                <li><a href="/mytrip/editfile"><span class="glyphicon glyphicon-user"></span>個人
 Profile</a></li>
              </ul>
              <ul>
                {% if username %}
                <li><a href="/mytrip/home/">屬於{{ username }}的</a></li>
                <li><a href="/mytrip/logout/">登出 Log out</a></li>
                {% else %}
		<li><a href="/mytrip/login/">登入 Log in</a></li>
                <li><a href="/mytrip/register/">註冊 Sign up</a></li>
                {% endif %}
              </ul>
              <ul id="app">
                <li><a href="#"><img src="/media/webicon/google_play.png" width="150px" height="60px"></a></li>
                <li><a href="#"><img src="/media/webicon/ios1.png" width="150px" height="75px"></a></li>
              </ul>
            </div>
            <div class="moreab">
              <p>
              ©2014 <a href="#">Daven/Koi</a> Project</p>
              <p>With Google Plays API</p><p>/Boostrap/Glyphicons</p>
            </div>
          </div>
        </div>
      <div class="col-xs-9 col-md-10">
{{ uid.user_id }}
{% if msg %}
{{ msg }}
{% endif %}
<!--{% if username %}
{{ username }}
{%endif %}
{% if idno %}
{{ idno }}
{% endif %}
<p>tuid</p>{{ tuid }}
<p>user for thistrip</p> {{ userid }}-->

		{%if username %}
                <form method="POST" enctype="multipart/form-data" id="ch" class="form-inline">{% csrf_token %}
                {% if owner %}
                <!--input type="checkbox" value="1" name="check" id="check" checked>公開
                <select id="id_style" name="style">
                <option value="style1">Blue timeline</option>
                <option value="style2">Floor</option>
                <option value="style3">I love you</option>
                </select-->
                <table>
                {{ form.as_p }}</table>
                <button type="submit" class="btn btn-default">確認</button>
                {% endif %}
                 <button type="submit" class="btn btn-default" name="likes">收藏</button>
                </form>
                {% endif %}
<div class="collect">
            <div class="fixedbtn">
              <nav>
		
                <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul> 
              </nav>
	    </div>
	<div class="itrips">
              <iframe src="/mytrip/trip/{{ idno }}/" width="100%" height="1200" frameborder="1" scrolling="auto"></iframe>
            </div>
        </div>
        </div>
      </div>
    </div>
</body>
</html>
